*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-color:rgb(168, 81, 0);
    --text-color:white;
    --border-line:gray;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
h1{
    color: var(--primary-color);
}
p{
    text-align: center;
}
.swap{
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 12px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}
img {
    width: 200px;
}
.currency{
    padding: 40px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.currency select{
    padding: 10px;
    padding-right: 20px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--border-line);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.currency input {
    font-size: 30px;
    border: none;
    background-color: transparent;
    text-align: right;
    outline: none;
}
.swap-rate-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate{
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}